tmp
.eshell
.recentf
tmp
ac-comphist.dat
abbrev_defs
auto-save-list
bookmarks
.cask
DouBanMusic
elpa
.emacs.desktop
.emacs.keyfreq
lastdir
history
.mc-lists.el
.org-id-locations
projectile-bookmarks.eld
projectile.cache
server
.session
tramp
url
yasnippet-snippets
